{
    email admin@logisteia.com
}

# --- API Backend (para el frontend) ---
api.logisteia.com {
    root * /var/www/html
    
    # PHP-FPM
    php_fastcgi backend:9000
    
    # Compresión
    encode gzip
    
    # Servir archivos estáticos directamente
    file_server
}

# --- Tu web principal (Angular + PHP) ---
logisteia.com, www.logisteia.com {
    root * /srv
    encode gzip
    
    php_fastcgi backend:9000 {
        root /var/www/html
    }
    
    file_server
    try_files {path} {path}/ /index.html
}

# --- phpMyAdmin ---
pma.logisteia.com {
    # Redirige el tráfico al contenedor de phpmyadmin en su puerto interno (80)
    reverse_proxy phpmyadmin:80
}