@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scroll Animations */
.scroll-animate {
  opacity: 1;
  transition: all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.scroll-animate.from-left {
  transform: translateX(-80px);
  opacity: 0;
}

.scroll-animate.from-right {
  transform: translateX(80px);
  opacity: 0;
}

.scroll-animate.show {
  opacity: 1 !important;
  transform: translateX(0) !important;
}